/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: rgb(20, 20, 20);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  --brand-color: #ff6262;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* For WebKit/Blink browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--black-color);
}

::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 6px;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0 16px;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none !important;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin: 0 auto;
  display: flex;
}

/*=============== TRAILER ===============*/

body {
  height: 100vh;    
  margin: 0px;  
}

body:hover > #trailer {
  opacity: 1;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: var(--brand-color);
  border-radius: 20px;
  
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  
  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;
  
  opacity: 0;
  transition: opacity 400ms ease;
}

.interactable {
  aspect-ratio: 1 / 1.5;
  width: clamp(120px, 40vmin, 600px);
  background-position: center 50%;
  background-size: 100%;  
  opacity: 0.4;
  
  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 105%;
  opacity: 0.8;
}



/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
  border-bottom: 1px solid #2b2b2b;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
    height: calc(100vh - 50px);
    position: fixed;
    width: 100%;
  }


.nav__link {
  color: var(--white-color);
  font-weight: 900;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
  font-family: "Roboto Condensed", sans-serif;
}

.nav__link_upper {
  color: var(--white-color);
  font-weight: 900;
  padding: 0px;
  padding-top: 0;
  font-size: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  /* transition: color .5s ease-in-out, box-shadow .5s ease-in-out, padding-left .2s ease-in-out; */
}

/* .nav__link_upper:hover{
  box-shadow: inset 800px 0 0 0 var(--brand-color);
  padding-left: 30px;
} */

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--brand-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--brand-color);
}

/* COMPONENTS */

.my-section{
  background-color: var(--black-color);
}

.my-section-gray{
  background-color: #232323;
}

.my-text-black{
  color: var(--black-color);
}

.my-main-btn{
  border: 1px solid #2b2b2b;
  background-color: #232323;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  padding: 12px 30px;
  transition: transform 0.1s;
}

.my-main-btn:hover{
  border: 1px solid #2b2b2b;
  background-color: #343434;
  color: #fff;
  transform: scale(1.1);
  text-decoration: none !important;
}

.my-main-btn::before{
  display: none;
}

.my-main-btn:active{
  border: 1px solid #2b2b2b;
  background-color: #343434 !important;
  color: #fff !important;
  transform: scale(1.1);
}

.my-move-right{
  transition: margin-left 0.1s, transform 0.1s, rotate 0.1s;
  margin-left: 5px;
}

.my-main-btn:hover .my-move-right{
  margin-left: 20px;
  transform: scale(1.4);
  rotate: 90deg;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {

  .nav__link {
    padding-inline: 1rem;
  }
}

/* jumbotron */

#jumbotron{
  height: calc(100vh - 50px);
}

.my-subtitle{
  font-size: 22px;
  font-weight: 300;
  color: #d8d8d8;
  margin-top: 30px;
  line-height: 1.6;
}

.my-subtitle-black{
  font-size: 22px;
  font-weight: 300;
  color: var(--black-color);
  margin-top: 30px;
  line-height: 1.6;
}

.my-purple-span{
  color: var(--brand-color);
}

.jumbo-sparkle{
  background-color: #9470db6e; /* Background color of the element */
  box-shadow: 0 0 350px 80px var(--brand-color);
  border-radius: 100%; /* Light effect */
  height: 100px;
  width: 100px;
}

.jumbo-sparkle-2{
  background-color: #232323;
  box-shadow:  0 0 350px 100px var(--brand-color);
  border-radius: 100%;
  height: 300px;
  width: 100px;
}

.jumbo-sparkle-3{
  background-color: #232323;
  box-shadow:inset  0 0 80px 15px var(--brand-color);
  border-radius: 100%;
  height: 300px;
  width: 100px;
}

.jumbo-sparkle-2,
.jumbo-sparkle-3 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.jumbo-img-2{
  position: absolute;left: -1110px;height: 1500px;bottom: -350px;z-index: -1;
}

.jumbo-img-3{
  position: absolute;right: -1110px;height: 1500px;bottom: -350px;transform: scaleX(-1);z-index: -1;
}

.display-1{
  font-weight: 700;
}

.my-brand-color{
  color: var(--brand-color);
}

.my-brand-bg{
  background-color: var(--brand-color);
}

/* Agency description */

.my-img-wrapper{
  background-color: var(--brand-color);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-img-description{
  max-width: 150px;
}

/* Agency description */


input[type="checkbox"]:checked {
  background-color: var(--brand-color);
  border-color: #ff0000;
}

:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards2 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

#cards2:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;  
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1, h2, h3, h4, span {
  color: rgb(240, 240, 240);
  margin: 0px;
}

i {  
  color: rgba(255, 255, 255, 0.38)
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  text-shadow: 0px 0px 8px var(--brand-color);
}

.card-image > img {
  width: 6em;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {  
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* Ci presentiamo */

.people-img{
  max-width: 200px;
  border-radius: 30px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  
  #cards {    
    max-width: 1000px;
    padding: 10px 0px;
  }

  #cards2 {    
    max-width: 1000px;
    padding: 10px 0px;
  }
  
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }
  
  .card-image {
    height: 80px;  
  }
  
  .card-image > i {
    font-size: 3em;
  }

  .card-image > img {
    width: 3em;
  }
    
  .card-info-wrapper {
    padding: 0px 10px;
  }
  
  .card-info > i { 
    font-size: 0.8em; 
  }
  
  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }

  .nav__link_upper {
    font-size: 60px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}

@media(max-width: 720px) {
  .jumbo-sparkle {
    display: none;
  }

  .jumbo-img-2{
    display: none;
  }
  
  .jumbo-img-3{
    display: none;
  }

  .display-1{
    font-size: 40px;
  }
}

footer{
  overflow: hidden;
}

.footer-logo{
  max-width: 100%;
}

.primary-btn{
  background-color: var(--brand-color);
  color: #fff;
  font-weight: 400;
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid var(--brand-color) !important;
}

.primary-btn:hover{
  background-color: var(--brand-color);
  color: #fff;
  box-shadow: 0 0 10px var(--brand-color);
  cursor: pointer;
}

.primary-btn:active{
  background-color: var(--brand-color) !important;
  color: #fff !important;
  box-shadow: 0 0 10px var(--brand-color);
  cursor: pointer;
}

.primary-btn:focus {
  transform: scale(0.96) !important;
  transition: transform 0.1s ease-in-out;
}

.primary-btn:focus:not(:active) {
  transform: scale(1) !important; 
}

